/*CSS Main*/
* {
    box-sizing: border-box;
    word-spacing: 0.5px;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/*UL Reset*/
ul {
    padding: 0;
}

/*Defaults*/
h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/*Containers*/
#wrapper {
    margin: 0 auto;
    text-align: center;
}

#header {
    padding: 5%;
}

#nav li{
    background-color: #fff;
    text-align: center;
    padding: 3.5%;
    margin-bottom: 7px;
    
}
#profile {
    padding-top: 1px;
}

#profile-picture {
        padding: 0 5%;
}

#portfolio {
    padding: 0 5%;
    background-color: #fff;   
}

#portfolio h3 {
    padding-top: 1.5em;
    margin-bottom: 1.5em;
}

.thumbnail {
    padding: 0 2.5% 7.5%;
}

#contact {
   padding-top: 5px;
}

#contact p {
   margin: 1em; 
}

#contact li {
    margin: 1em 0;
}

footer {
    border-top: 1px solid #999;
    width: 90%;
    margin: 0 auto;
}

footer ul {
    margin-bottom: 0;
    white-space: nowrap;
}

footer li {
    display: inline-block;
    margin: .75em 0;
    font-size: 90%
}

#student-name {
    float: left;
    width: 45%;
    text-align: left;
}

#student-name h4 {
    margin: 0;
}

#mfoot {
    float: right;
    width: 45%;
    text-align: right;
}

#tdfoot {
    display: none;
}

/*--Media Queries--*/
@media (min-width: 768px) {
    #nav li {
        background-color: #f5f5f5;
        display: inline-block;
        padding: 2.5%;
    }
    
    #nav a:hover {
        color: #999;
    }
    
    #profile-picture {
        padding-left: 5%;
        float: right;
        width: 45%;
    }
    
    #profile p {
        text-align: left;
        width: 55%;
    }
    
    .thumbnail {
        float: left;
        width: 50%;
    }
    
    .thumbnail:nth-child(4n) {
        clear: left;
    }
    
    .thumbnail p {
        margin: 1em;
    }
    
    #student-name {
    text-align: left;
    width: 50%;
    }
    
    #mfoot {
        display: none;
    }
    
    #tdfoot {
        display: inline-block;
        /*float: right;*/
        width: 50%;
        text-align: right;
    }

    .clearfix::after {
        content:"";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    #main-header {
        margin-bottom: 2.5%;
    }
    
    #nav ul {
        margin: 0;
    }
    
    #nav {
        float: right;
        width: 50%; 
        text-align: right;  
    }
    
    #header h1 {
        float: left;
        margin: 0;
        width: 50%;
        text-align: left;
    }
    
    #profile-picture {
       padding-left: 7.5%;
       padding-right: 2.5%; 
    }
 
    #portfolio {
        margin: 0 2.5%;
        padding: 0 2.5%;
    }
    
    .thumbnail {
        width: 33.3%;
    }
    
    .thumbnail:nth-child(4n) {
        clear: none;
    }
}